.button {
    height: 40px;
    min-width: 100px;
    border: 1px solid transparent;
    color: #fff;
    background: #1A9BFC;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 12px;
    cursor: pointer;
    transition: all linear .5s;
}

.button:hover {
    /* color: #007bff;
    border: 1px solid #007bff;
    background-color: #fff; */
}

.button-secondary {
    background: #fff;
    color: #bbb;
    border: 1px solid #bbb;
}

.button-secondary:hover {
    color: #007bff;
    border: 1px solid #007bff;
    background-color: #fff;
}