.popup-container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: flex;
}

.m-popup {
    width: 366px;
    min-height: 345px;
    background-color: #fff;
    border-radius: 16px;
    padding: 0 14px;
}
.error-popup{
    min-height: 200px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    padding: 16px 0;
}

.popup-content i {
    font-size: 36px;
    padding: 6px 0;
    text-align: center;
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.popup-footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}
.button-close{
    background-color: #FFFFFF !important;
    border: 1px solid #777E89 !important;
    color: #777E89 !important;
}

.list-button {
    display: flex;
    justify-items: center;
    justify-content: center;
}
.popup-text{
    text-align: center;
    font-weight: 600;
    font-size: 21px;
}